.newpost {
    padding: 1rem 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newpostcontainer {
    padding: 2.5rem;
    border-radius: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    gap: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.newpostcontainer img {
    border-radius: 50%;
}

.newpostcontainer input[type="text"] {
    padding: .5rem;
    border: 0;
    font-size: 18px;
    border-bottom: 1px solid #ed2085;
}

.newpostcontainer input:focus {
    outline: none;
}

.newpostdenied {
    padding: 1rem 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}

.inputandcharcount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.inputandcharcount div {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.inputandcharcount p {
    font-size: 10px;
}