.newpost {
    padding: 1rem 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newpostcontainer {
    padding: 2.5rem;
    border-radius: 25px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.inputandphoto {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.newpostcontainer span {
    cursor: pointer;
    user-select: none;
}

.newpostcontainer span:hover {
    color: rgba(0, 0, 0, 0.75);
}

.newpostitems {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
}

.newpostcontainer img {
    border-radius: 50%;
}

.uploadedimages {
    padding: 0;
    margin: 0;
    margin-bottom: -1rem;
}

.uploadedimages ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.uploadedimages span {
    color: white;
    position: relative;
    background-color: rgb(255, 113, 113);
    border-radius: 50%;
    font-size: 1.25rem;
    bottom: 85%;
    right: 13%;
}

.uploadedimages span:hover {
    color: white;
    background-color: rgb(255, 47, 47);
}

.uploadedimages img {
    padding: 0 .5rem;
    border-radius: 0 !important;
    object-fit: cover;
}

.newpostcontainer input[type="text"] {
    background-color: whitesmoke;
    padding: 1rem;
    border: 0;
    font-size: 16px;
    border-radius: 25px;
}

.newpostcontainer input[type='file'] {
    display: none;
}

.newpostcontainer input:focus {
    outline: none;
}

.newpostdenied {
    padding: 1rem 0;
    padding-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: not-allowed;
}

.inputandcharcount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.inputandcharcount div {
   display: flex;
   width: 100%;
   justify-content: space-between;
}

.inputandcharcount p {
    font-size: 10px;
}

.nouser {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    font-weight: 400;
    color: white;
    user-select: none;
}

@media screen and (max-width: 768px) {
    .newpostitems {
        flex-direction: column;
        gap: 0;
    }

    .newpostcontainer img {
        margin-bottom: 1rem;
    }
}