.posts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.posts ul {
    width: 100%;
    list-style: none;
    padding: 1rem 5rem;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.posts li {
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
    margin: 1rem 0;
    padding: 2rem 2.5rem;
    background-color: white;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    position: relative;
}


.posts img {
    border-radius: 50%;
    padding: 0 .5rem;
}

.edituserlogged {
    position: absolute;
    top: 0;
    right: 0;
    padding-right: 1.1rem;
}

.commenticon {
    gap: .5rem;
    display: flex;
    position: absolute;
    align-items: center;
    bottom: 0;
    right: 0;
    padding: 1.1rem;
}

.commenticon > div:hover {
    cursor: pointer;
}

.usercontainer {
    display: flex;
    align-items: center;
}

.usercontainerwrapper {
    display: flex;
    padding: .75rem 1.5rem;
    background-color: whitesmoke;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
    border-radius: 25px;
    align-items: center;
    gap: .5rem;
}

.usercontainerwrapper p {
    color: rgb(43, 43, 43);
    font-size: 12px;
}

.usercontainer h4 {
    color: rgb(50, 50, 50);
}

.threedots {
    font-size: 24px;
    user-select: none;
    cursor: pointer;
}

.popupmenu, .popmenuuserlogged {
    position: absolute;
    top: 75%;
    right: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    width: 170px;
    z-index: 9998;
    margin: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
    font-size: 14px;
}

.popupmenu p, .popmenuuserlogged p {
    margin: 0;
    padding: .75rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.popmenuuserlogged p:last-child {
    border: none;
    color: red !important;
}

.popupmenu p:last-child {
    border: none;
}

.popupmenu p:hover:first-child, .popmenuuserlogged p:hover:first-child, .popmenuuserlogged p:nth-child(2):hover {
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(241, 241, 241);
}

.popupmenu p:hover:last-child, .popmenuuserlogged p:hover:last-child {
    cursor: pointer;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(241, 241, 241);
}

.images {
    display: flex;
    margin-bottom: 1rem;
    overflow: hidden;
    padding: 0 2rem;
}

.images ul {
    padding: 0;
    margin: 0;
    display: grid;
    width: 100%;
    list-style: none;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1rem;
    margin-bottom: 2rem;
}

.images li {
    display: flex;
    border: none;
    align-items: center;
    justify-content: center; 
    padding: 0;
    margin: 0;
}

.images img {
    object-fit: cover;
}

.nouser {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-weight: 400;
    color: white;
    user-select: none;
}

@media screen and (max-width: 1050px) {
    .posts ul {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .posts ul {
        padding: 1rem 2rem;
    }

    .usercontainer {
        flex-direction: column;
    }

    .usercontainer h3, .usercontainer p, .usercontainer h4 {
        margin: 0;
    }
}