.usersmain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.usersmain input[type="text"], .usersmain input[type="password"]  {
    padding: .5rem;
    border: 0;
    border-bottom: 1px solid #ed2085;
}

.form {
    gap: .75rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formfield {
    gap: 2rem;
    align-items: center;
    justify-content: flex-end;
    display: flex;
}

.register:hover {
    text-decoration: underline;
}

.errormessage {
    background-color: rgb(245, 245, 245);
    /* border-radius: 5px; */
    display: flex;
    align-items: center;
    justify-content: center;
}