.users {
    display: flex;
    width: 100%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.nouser {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 400;
    color: white;
    user-select: none;
}

.users ul {
    padding: 0;
    margin: 0;
    display: grid;
    width: 100%;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 2rem 4rem;
}

.users li {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
    border-radius: 25px;
    padding: 2rem;
}

.users img {
    border-radius: 50%;
}

.usercontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.usercontainer h1 {
    font-size: 30px;
    font-weight: 400;
    margin: 0;
    margin-top: 1rem;
    padding: 0;
    text-transform: capitalize;
}

.usercontainer p {
    margin: 0;
    font-size: 12px;
}

@media screen and (max-width: 1050px) {
    .users {
        margin-top: 75px;
    }
}