.comments ul:first-child {
    margin: 0;
    background-color: white;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.date {
    font-size: 12px;
    padding: 0 1rem;
    color: rgba(0, 0, 0, 0.25);
}

.comments li {
    padding-bottom: 0.5rem;
}

.childcomments {
    margin: 1rem 0;
    padding: .5rem 1.5rem;
    border-radius: 15px;
    background-color: whitesmoke;
}

.childcomments p {
    margin: .25rem;
}

.usersection {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.usersection img {
    border-radius: 50%;
}

.comments p {
    font-weight: 600;
}

.replyparagraph {
    cursor: pointer;
}

.addcomment {
    margin: 1rem 0;
    border: 1px solid rgba(0, 0, 0, 0.25);
    background-color: white;
    padding: 2rem 1.64rem;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.addcomment img {
    border-radius: 50%;
}

.addcomment input[type="text"] {
    padding: .5rem;
    border: 0;
    border-bottom: 1px solid #ed2085;
}

.addcomment input:focus {
    outline: none;
}

.addcommentcontainer p {
    text-align: center;
    font-weight: 500;
    display: flex;
}

.addcommentcontainer > p > div::first-letter {
   text-transform: capitalize;
}

.addcommentcontainer > p > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.addcommentcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.commentinput {
    display: flex;
    flex-direction: column;
}

.commentinput div {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.commentinput div p {
    font-size: 10px;
    font-weight: 400;
}