.comments {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comments ul:first-child {
    min-width: 50%;
    background-color: white;
    padding: 2.5rem;
    border-radius: 25px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    border-top: 1px solid rgba(0, 0, 0, 0.25);
}

.date {
    font-size: 12px;
    padding: 0 1rem;
}

.comments li {
    padding-bottom: 0.5rem;
}

.childcomments {
    margin: 1rem 0;
    padding: .5rem 1.5rem;
    border-radius: 15px;
    background-color: whitesmoke;
}

.childcomments p {
    margin: .25rem;
}

.usersection {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.usersection img {
    border-radius: 50%;
}

.comments p {
    font-weight: 600;
}

.replyparagraph {
    cursor: pointer;
}

.addcomment {
    background-color: white;
    padding: 2.5rem 5rem;
    border-radius: 25px;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.addcomment img {
    border-radius: 50%;
}

.addcomment input[type="text"] {
    padding: .5rem;
    border: 0;
    border-bottom: 1px solid #ed2085;
    margin-right: 1rem;
}

.addcomment input[type="submit"] {
    margin: 0 auto;
    cursor: pointer;
    padding: .5rem 1rem;
    border-radius: 5px;
    background-color: white;
    border: 1px solid #ed2085;
    transition: all .25s ease;
}

.addcomment input[type="submit"]:hover {
    border: 1px solid #d44d91;
    background-color: #ed2085;
    color: white;
}

.addcomment input[type="submit"]:active {
    background-color: #d80d73;
}

.addcomment input:focus {
    outline: none;
}

.addcommentcontainer p {
    text-align: center;
    font-weight: 500;
    display: flex;
}

.addcommentcontainer > p > div::first-letter {
   text-transform: capitalize;
}

.addcommentcontainer > p > a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.addcommentcontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}