.group {
    background-color: white;
    margin: 1rem 5rem;
    padding: 2rem;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    display: flex;
    justify-content: space-around;
    gap: 2rem;
}

.groupsection {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.group h1 {
    font-weight: 600;
    font-size: 48px;
    margin: 0;
    margin-bottom: 1.5rem;
}

.group ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.group img {
    border-radius: 50%;
}

.group ul li {
    display: flex;
}

.group ul li a p::first-letter {
    margin-left: .65rem;
    text-transform: uppercase;
}

.noimageid {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
    font-weight: 400;
    color: white;
    user-select: none;
}

.options {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.optionsbuttons {
    display: flex;
    gap: 1rem;
}