.badhttpstatuscode {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.badhttpstatuscode h1, .badhttpstatuscode h3 {
    margin: 1rem;
}

.gohome:hover {
    text-decoration: underline;
}

.inputfield {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.inputfield input[type="file"] {
    display: none;
}

.updateform {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.updateformcontainer {
    display: flex;
    flex-direction: column;
}

.updateformcontainer img {
    object-fit: cover;
    border-radius: 50%;
}

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.loading h1 {
        font-weight: 400;
}

@media screen and (max-width: 950px) {
    .inputfield {
        flex-direction: column;
        gap: 0;
    }
}