.footer {
    background-color: white;
    padding: 2rem;
    display: flex;
    gap: 7.5rem;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, .1);
}

.footercontainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer h1 {
    user-select: none;
    font-size: 40px;
    font-family: 'Pacifico', cursive;
}

@media screen and (max-width: 800px) {
    .footer {
        flex-direction: column;
        gap: 2rem;
    }

    .footer h1 {
        margin: 0;
    }
}