.registerlink:hover {
    text-decoration: underline;
}

.fourzerofour {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.fourzerofour h1, .fourzerofour h3 {
    margin: 1rem;
}

.userprofile {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userprofilecontainer {
    width: 80%;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.25);
}

.userprofilecontainer img {
    border-radius: 50%;
}

.usercontainer {
    gap: 3.5rem;
    align-items: center;
    display: flex;
    background-color: rgb(245, 245, 245);
    padding: 2.5rem;
    position: relative;
}

.usernamecontainer {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.pencil {
    cursor: pointer;
    top: 0;
    right: 0;
    position: absolute;
    padding: 1rem;
    align-items: center;
    display: flex;
}

.usernamecontainer h1 {
    font-size: 64px;
    margin: 0;
}

.usernamecontainer h3  {
    font-size: 32px;
    color: rgb(0, 80, 155)
}

.usernamecontainer h3::first-letter, .usernamecontainer p::first-letter {
    text-transform: uppercase;
}

.childsection {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.childsection > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.childsection > div > span {
    display: flex;
    align-items: center;
    gap: .25rem;
}

.flexor {
    gap: 1rem;
    align-items: center;
    display: flex;
}

.usersmenu {
    border-top: 1px solid rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.usersmenu > a {
    padding: 1rem;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
    border-right: 1px solid rgba(0, 0, 0, 0.25);
    cursor: pointer;
    text-align: center;
}

.usersmenu > a:hover {
    background-color: aliceblue;
    /* font-weight: 500; */
}