.postpage {
    display: flex;
    justify-content: center;
}

.post {
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 1rem 2.5rem;
}

.postflex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.postflex h4 {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
}

.usercontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.usercontainer h1 {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}

.usercontainer img {
    border-radius: 50%;
}

.usercontainer h1::first-letter {
    text-transform: capitalize;
}

.textcontainer {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-top: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
    padding: 1rem 2.5rem;
    font-weight: 400;
    font-size: 16px;
}

.loadcomments {
    display: flex;
    align-items: center;
    justify-content: center;
}

.postandleaveacomment {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.date {
    position: relative;
    cursor: pointer;
}

.date::first-letter {
    text-transform: uppercase;
} 

.datetooltip {
    display: none;
    background-color: #8d8d8d;
    color: #fff;
    padding: .5rem;
    z-index: 1;
    position: absolute;
    top: 20%;
    right: 110%;
    opacity: 0;
    border-radius: 25px;
    gap: .25rem;
}

.date:hover .datetooltip {
    display: flex;
    opacity: 1;
}

.options {
    display: flex;
    background-color: white;
    border-radius: 25px;
    padding: 1rem;
    border: 1px solid rgba(0, 0, 0, 0.25);
}