.postpage {
    display: flex;
    justify-content: center;
}

.post {
    display: flex;
    justify-content: center;
    height: 100%;
    width: 55%;
    padding: 1rem 2.5rem;
}

.postflex {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    gap: 10rem;
    border-radius: 25px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.25);
    min-width: 35%;
}

.postflex a > div {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.usercontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.usercontainer h1 {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}

.usercontainer img {
    border-radius: 50%;
}

.usercontainer h1::first-letter {
    text-transform: capitalize;
}

.textcontainer {
    font-size: 18px;
}

.textcontainer span {
    font-size: 14px;
}

.loadcomments {
    display: flex;
    align-items: center;
    justify-content: center;
}

.postandleaveacomment {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}