.postpage {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.postandoptions {
    width: 100%;
}

.post {
    display: flex;
    flex-direction: column;
    padding: 1rem 2.5rem;
}

.postflex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.postflex h4 {
    font-size: 12px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.75);
}

.usercontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.usercontainer h1 {
    font-size: 32px;
    font-weight: 400;
    margin: 0;
}

.usercontainer img {
    border-radius: 50%;
}

.usercontainer h1::first-letter {
    text-transform: capitalize;
}

.textcontainer {
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-top: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: white;
    padding: 1rem 2.5rem;
    font-weight: 400;
    font-size: 16px;
}

.loadcomments {
    display: flex;
    align-items: center;
    justify-content: center;
}

.postandleaveacomment {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


.date {
    position: relative;
    cursor: pointer;
}

.date::first-letter {
    text-transform: uppercase;
} 

.datetooltip {
    display: none;
    background-color: #8d8d8d;
    color: #fff;
    padding: .5rem;
    z-index: 1;
    position: absolute;
    top: 20%;
    right: 110%;
    opacity: 0;
    border-radius: 25px;
    gap: .25rem;
}

.date:hover .datetooltip {
    display: flex;
    opacity: 1;
}

.options {
    margin: 1rem 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.optionscontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border-radius: 25px;
}

.optionscontainer a {
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.optionsdelete {
    margin: 1rem 2.5rem;
    padding: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 25px;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.optionsdelete h3 {
    font-weight: 500;
    margin: .25rem;
}

.deletebuttons {
    display: flex;
    gap: 1rem;
}

.active {
    font-weight: 700;
}

.updatepostform {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0 0 0;
}

.updatepostform textarea {
    background-color: whitesmoke;
    border-radius: 10px;
    font-size: 14px;
    padding: 1rem;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    border: none;
    width: 500px;
}

.updatepostform textarea:focus {
    outline: none;
}

.inputandcharcount {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.inputandcharcount div {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.inputandcharcount p {
    font-size: 12px;
}

.images {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

.images img{
    object-fit: cover;
}

.comment {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: 0 2.5rem 1rem 0;
}