@keyframes slideIn {
  from {
      transform: translateY(100%);
      opacity: 0;
  }
  to {
      transform: translateY(0);
      opacity: 1;
  }
}

@keyframes slideOut {
  from {
      transform: translateY(0);
      opacity: 1;
  }
  to {
      transform: translateY(100%);
      opacity: 0;
  }
}

.slideIn {
  animation: slideIn .25s forwards;
}

.slideOut {
  animation: slideOut .25s forwards;
}

.customalert {
  display: flex;
  position: fixed;
  bottom: 2%;
  right: 1%;
  color: var(--text-color);
  border-radius: 25px;
  height: 30px;
  font-size: 15px;
  align-items: center;
  justify-content: center;
  padding: .5rem 1rem;
}

/* loading animations */

.ldsring {
  display: inline-block;
  position: relative;
  width: 20px;
  height: 20px;
}
.ldsring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0px;
  border: 1px solid rgb(125, 125, 125);
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgb(125, 125, 125) transparent transparent transparent;
}
.ldsring div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsring div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}